html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* DECLARATIONS
---------------- */
/* MIXINS
---------- */
/* GLOBAL STYLES
---------------- */
* {
  box-sizing: border-box; }

body {
  font-family: "Tinos", serif;
  font-size: 62.5%;
  color: #424242;
  background-color: #FAFAFA;
  width: 100%; }

input, button {
  border: none;
  border: 1px solid #176785;
  border-radius: 4px;
  border-radius: 2px;
  transition: 0.3s all ease;
  font-size: 1.5em;
  margin: 1em; }
  input:focus, button:focus {
    outline: none; }

.container {
  width: 100%;
  margin: auto; }

a {
  text-decoration: none;
  color: #499989; }
  a:hover {
    color: #187062; }

ul {
  list-style: none; }

li {
  list-style: none;
  font-size: 1.5em; }

button {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  color: #FAFAFA;
  border: 1px solid #176785;
  border-radius: 4px;
  background-color: #176785;
  transition: 0.3s all ease; }
  button:hover {
    background-color: #0F4559; }
  button:active {
    background-color: #0F4559; }
  button:visited {
    background-color: #0F4559; }

p {
  font-size: 1.5em; }

div {
  border-radius: 4px; }

/* CHECKBOX STYLE
----------------- */
input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 30px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 2em;
  vertical-align: middle;
  cursor: pointer;
  color: #424242; }

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -25px; }

label.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_d8cf819d987183169052b27a166a28e3.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* HEADER STYLE
--------------- */
header {
  margin-bottom: 2em;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0.5px 2px #D0C8C5;
  -moz-box-shadow: 0px 0.5px 2px #D0C8C5;
  -o-box-shadow: 0px 0.5px 2px #D0C8C5;
  box-shadow: 0px 0.5px 2px #D0C8C5; }
  header .innerheader {
    overflow: hidden;
    width: 98%;
    margin: auto; }
    header .innerheader .logo {
      float: left;
      display: inline-block;
      overflow: hidden;
      margin: 0; }
      header .innerheader .logo img {
        height: 5em;
        margin: 0;
        float: left; }
      header .innerheader .logo h2 {
        font-family: "Fjalla One", sans-serif;
        font-size: 2.4em;
        transform: rotateZ(-16deg);
        padding: 0.2em 0.5em;
        color: #499989;
        float: left; }
    header .innerheader .rightheader {
      overflow: hidden;
      float: right; }
      header .innerheader .rightheader nav {
        display: inline-block; }
        header .innerheader .rightheader nav li {
          font-family: "Fjalla One", sans-serif;
          color: #424242;
          display: inline-block;
          padding: 1em; }
          header .innerheader .rightheader nav li a {
            color: #424242; }

/* HOMEPAGE VIEW
---------------- */
.homepage-wrapper {
  overflow: hidden; }
  .homepage-wrapper .homepage-content {
    margin: 1em auto; }

/* DASHBOARD VIEW
----------------- */
.dashboard-page {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .dashboard-page::after {
    clear: both;
    content: "";
    display: table; }
  .dashboard-page header {
    width: 100%; }
    .dashboard-page header nav .nav-item {
      overflow: hidden;
      cursor: pointer;
      text-align: center;
      padding: 10px;
      color: #FAFAFA;
      border: 1px solid rgba(18, 81, 105, 0.8);
      border-radius: 4px;
      background-color: rgba(18, 81, 105, 0.8);
      transition: 0.3s all ease;
      border: none;
      display: inline-block;
      padding: 0;
      margin: .5em;
      float: right;
      height: 3.5em; }
      .dashboard-page header nav .nav-item:hover {
        background-color: #125169; }
      .dashboard-page header nav .nav-item i {
        font-size: 1.6em;
        padding: .5em; }
      .dashboard-page header nav .nav-item .user-avatar {
        float: left;
        height: 100%;
        overflow: hidden;
        display: inline-block;
        border-radius: 0; }
        .dashboard-page header nav .nav-item .user-avatar img {
          height: 100%; }
      .dashboard-page header nav .nav-item .user-name {
        display: inline-block;
        float: right;
        padding: 0.5em 1.5em;
        font-size: 1.4em;
        font-family: "Fjalla One", sans-serif; }
  .dashboard-page .dash-content {
    font-family: "Tinos", serif;
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; }
    .dashboard-page .dash-content::after {
      clear: both;
      content: "";
      display: table; }
    .dashboard-page .dash-content div {
      margin-bottom: 2em; }
    .dashboard-page .dash-content h4 {
      color: #FAFAFA;
      font-family: "Fjalla One", sans-serif; }
    .dashboard-page .dash-content i {
      margin-right: .5em;
      font-size: 1.5em; }
    .dashboard-page .dash-content .top-dash-progress {
      padding: 2em;
      overflow: hidden;
      width: 100%;
      background-color: #fff;
      -webkit-box-shadow: 0px 0.5px 2px #D0C8C5;
      -moz-box-shadow: 0px 0.5px 2px #D0C8C5;
      -o-box-shadow: 0px 0.5px 2px #D0C8C5;
      box-shadow: 0px 0.5px 2px #D0C8C5; }
      .dashboard-page .dash-content .top-dash-progress i {
        display: inline-block;
        float: left;
        font-size: 2.5em;
        color: #D0C8C5; }
      .dashboard-page .dash-content .top-dash-progress .fa-minus-square:hover {
        color: #FF534E; }
      .dashboard-page .dash-content .top-dash-progress .fa-plus-square:hover {
        color: #BED194; }
      .dashboard-page .dash-content .top-dash-progress h4 {
        text-align: center;
        color: #424242; }
    .dashboard-page .dash-content .left-dash {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      overflow: hidden;
      float: left;
      padding: 0; }
      .dashboard-page .dash-content .left-dash:last-child {
        margin-right: 0; }
      .dashboard-page .dash-content .left-dash .team-list {
        padding: 2em;
        background-color: #176785; }
        .dashboard-page .dash-content .left-dash .team-list h4 {
          cursor: pointer; }
        .dashboard-page .dash-content .left-dash .team-list ul {
          text-align: left;
          padding: 0;
          margin: 0; }
        .dashboard-page .dash-content .left-dash .team-list a {
          color: #FAFAFA; }
          .dashboard-page .dash-content .left-dash .team-list a li {
            padding: 0;
            font-size: 1.2em;
            margin-bottom: .5em; }
          .dashboard-page .dash-content .left-dash .team-list a img {
            height: 3em;
            border-radius: 50%; }
      .dashboard-page .dash-content .left-dash .calendar {
        overflow: hidden;
        position: relative; }
        .dashboard-page .dash-content .left-dash .calendar img {
          width: 100%; }
        .dashboard-page .dash-content .left-dash .calendar .overlay {
          overflow: hidden;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(66, 66, 66, 0.9);
          transition: 0.3s all ease;
          cursor: pointer; }
          .dashboard-page .dash-content .left-dash .calendar .overlay:hover {
            background-color: rgba(66, 66, 66, 0.7); }
          .dashboard-page .dash-content .left-dash .calendar .overlay h4 {
            text-align: center;
            padding-top: 20%; }
      .dashboard-page .dash-content .left-dash .training-plans {
        padding: 2em;
        background-color: #BED194; }
      .dashboard-page .dash-content .left-dash .create-plan {
        padding: 2em;
        background-color: #2E313D; }
      .dashboard-page .dash-content .left-dash .workouts {
        padding: 2em;
        background-color: #D0C8C5; }
      .dashboard-page .dash-content .left-dash .create-workout {
        padding: 2em;
        background-color: #499989; }
    .dashboard-page .dash-content .upcoming {
      padding: 2em;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      background-color: #FF534E; }
      .dashboard-page .dash-content .upcoming:last-child {
        margin-right: 0; }
      .dashboard-page .dash-content .upcoming h4 {
        display: inline-block;
        float: left; }
      .dashboard-page .dash-content .upcoming a {
        color: #FAFAFA; }
        .dashboard-page .dash-content .upcoming a p {
          border: 1px solid #FAFAFA;
          border-radius: 4px;
          padding: .5em;
          display: inline-block;
          float: right; }
          .dashboard-page .dash-content .upcoming a p:hover {
            background-color: #FAFAFA;
            color: #FF534E; }
      .dashboard-page .dash-content .upcoming h5 {
        color: #424242;
        font-family: "Tinos", serif; }

/* TEAM PAGE
------------ */
.team-page {
  background-color: #424242;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  height: 100vh; }
  .team-page h3 {
    width: 100%;
    color: #FAFAFA;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    font-size: 4em; }
  .team-page .team-page-content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .team-page .team-page-content::after {
      clear: both;
      content: "";
      display: table; }
    .team-page .team-page-content .team-content-sections {
      overflow: hidden;
      width: 100%; }
      .team-page .team-page-content .team-content-sections .team-left-content {
        overflow: hidden;
        background-color: rgba(190, 209, 148, 0.8);
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 36.02647%;
        margin: 2em; }
        .team-page .team-page-content .team-content-sections .team-left-content:last-child {
          margin-right: 0; }
        .team-page .team-page-content .team-content-sections .team-left-content ul {
          padding: 1em; }
          .team-page .team-page-content .team-content-sections .team-left-content ul p {
            font-family: "Fjalla One", sans-serif; }
          .team-page .team-page-content .team-content-sections .team-left-content ul li {
            padding-left: 1em;
            font-size: 1.5em; }
        .team-page .team-page-content .team-content-sections .team-left-content p {
          text-align: center;
          margin: 0; }
          .team-page .team-page-content .team-content-sections .team-left-content p a {
            font-size: 1.2em;
            text-align: center;
            cursor: pointer;
            text-align: center;
            padding: 10px;
            color: #FAFAFA;
            border: 1px solid #176785;
            border-radius: 4px;
            background-color: #176785;
            transition: 0.3s all ease;
            color: #FAFAFA; }
            .team-page .team-page-content .team-content-sections .team-left-content p a:hover {
              color: #FAFAFA;
              background-color: #176785; }
        .team-page .team-page-content .team-content-sections .team-left-content h5 {
          font-family: "Fjalla One", sans-serif;
          font-size: 3em;
          color: #424242;
          background-color: rgba(254, 255, 255, 0.8);
          padding: .5em;
          margin: 0;
          -webkit-box-shadow: 0px 0.5px 2px #D0C8C5;
          -moz-box-shadow: 0px 0.5px 2px #D0C8C5;
          -o-box-shadow: 0px 0.5px 2px #D0C8C5;
          box-shadow: 0px 0.5px 2px #D0C8C5; }
      .team-page .team-page-content .team-content-sections .team-right-content {
        overflow: hidden;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%;
        background-color: rgba(254, 255, 255, 0.8);
        padding: 1em;
        margin: 2em; }
        .team-page .team-page-content .team-content-sections .team-right-content:last-child {
          margin-right: 0; }

.sub-nav {
  padding: 0;
  margin-top: 1em;
  border-top: 1px solid #D0C8C5;
  border-bottom: 1px solid #D0C8C5; }
  .sub-nav .active {
    background-color: #176785;
    padding: .5em;
    color: #FAFAFA; }
  .sub-nav dt {
    padding: .5em;
    font-family: "Fjalla One", sans-serif; }
  .sub-nav dd {
    font-family: "Fjalla One", sans-serif;
    padding: .5em;
    cursor: pointer; }
    .sub-nav dd a {
      padding: 0; }
  .sub-nav dd:hover {
    background-color: #D0C8C5;
    color: #FAFAFA; }
    .sub-nav dd:hover a {
      color: #FAFAFA;
      padding: 0; }
  .sub-nav dd.active a {
    background-color: #176785;
    color: #FAFAFA;
    padding: 0; }

/* CENTER NAV
------------- */
.centered-navigation {
  border-bottom: 1px solid #c2b8b4;
  min-height: 60px;
  width: 100%;
  z-index: 9999;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.5em; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: #fff;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    font-size: 1.2em; }
    .centered-navigation ul li.nav-link a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus,
      .centered-navigation ul li.nav-link a:hover {
        color: #333; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .team-logo img {
    margin: .5em;
    max-height: 2em;
    opacity: 1; }
