html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* DECLARATIONS
---------------- */
/* MIXINS
---------- */
/* GLOBAL STYLES
---------------- */
* {
  box-sizing: border-box; }

body {
  font-family: "Tinos", serif;
  font-size: 62.5%;
  color: #424242;
  background-color: #FAFAFA;
  width: 100%; }

input, button {
  border: none;
  border: 1px solid #176785;
  border-radius: 4px;
  border-radius: 2px;
  transition: 0.3s all ease;
  font-size: 1.5em;
  margin: 1em; }
  input:focus, button:focus {
    outline: none; }

.container {
  width: 100%;
  margin: auto; }

a {
  text-decoration: none;
  color: #499989; }
  a:hover {
    color: #187062; }

ul {
  list-style: none; }

li {
  list-style: none;
  font-size: 1.5em; }

button {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  color: #FAFAFA;
  border: 1px solid #176785;
  border-radius: 4px;
  background-color: #176785;
  transition: 0.3s all ease; }
  button:hover {
    background-color: #0F4559; }
  button:active {
    background-color: #0F4559; }
  button:visited {
    background-color: #0F4559; }

p {
  font-size: 1.5em; }

/* CHECKBOX STYLE
----------------- */
input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 30px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 2em;
  vertical-align: middle;
  cursor: pointer;
  color: #424242; }

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -25px; }

label.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_d8cf819d987183169052b27a166a28e3.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* HEADER STYLE
--------------- */
header {
  margin-bottom: 2em;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0.5px 2px #D0C8C5;
  -moz-box-shadow: 0px 0.5px 2px #D0C8C5;
  -o-box-shadow: 0px 0.5px 2px #D0C8C5;
  box-shadow: 0px 0.5px 2px #D0C8C5; }
  header .innerheader {
    overflow: hidden;
    width: 98%;
    margin: auto; }
    header .innerheader .logo {
      float: left;
      display: inline-block;
      overflow: hidden;
      margin: 0; }
      header .innerheader .logo img {
        height: 5em;
        margin: 0;
        float: left; }
      header .innerheader .logo h2 {
        font-family: "Fjalla One", sans-serif;
        font-size: 2.4em;
        transform: rotateZ(-16deg);
        padding: 0.2em 0.5em;
        color: #499989;
        float: left; }
    header .innerheader .rightheader {
      overflow: hidden;
      float: right; }
      header .innerheader .rightheader nav {
        display: inline-block; }
        header .innerheader .rightheader nav li {
          font-family: "Fjalla One", sans-serif;
          color: #424242;
          display: inline-block;
          padding: 1em; }
          header .innerheader .rightheader nav li a {
            color: #424242; }

/* HOMEPAGE VIEW
---------------- */
.homepage-wrapper {
  overflow: hidden; }
  .homepage-wrapper .homepage-content {
    margin: 1em auto; }

/* DASHBOARD VIEW
----------------- */
.dashboard-page {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .dashboard-page::after {
    clear: both;
    content: "";
    display: table; }
  .dashboard-page header {
    width: 100%; }
  .dashboard-page .content {
    font-family: "Tinos", serif;
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; }
    .dashboard-page .content::after {
      clear: both;
      content: "";
      display: table; }
    .dashboard-page .content div {
      margin-bottom: 2em; }
    .dashboard-page .content h4 {
      color: #FAFAFA;
      font-family: "Fjalla One", sans-serif; }
    .dashboard-page .content i {
      margin-right: .5em;
      font-size: 1.5em; }
    .dashboard-page .content .left-dash {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      overflow: hidden;
      float: left;
      padding: 0; }
      .dashboard-page .content .left-dash:last-child {
        margin-right: 0; }
      .dashboard-page .content .left-dash .team-list {
        padding: 2em;
        background-color: #176785; }
        .dashboard-page .content .left-dash .team-list h4 {
          cursor: pointer; }
        .dashboard-page .content .left-dash .team-list ul {
          text-align: left;
          padding: 0;
          margin: 0; }
        .dashboard-page .content .left-dash .team-list a {
          color: #FAFAFA; }
          .dashboard-page .content .left-dash .team-list a li {
            padding: 0;
            font-size: 1.2em;
            margin-bottom: .5em; }
          .dashboard-page .content .left-dash .team-list a img {
            height: 3em;
            border-radius: 50%; }
      .dashboard-page .content .left-dash .calendar {
        overflow: hidden;
        position: relative; }
        .dashboard-page .content .left-dash .calendar img {
          width: 100%; }
        .dashboard-page .content .left-dash .calendar .overlay {
          overflow: hidden;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(66, 66, 66, 0.9);
          transition: 0.3s all ease;
          cursor: pointer; }
          .dashboard-page .content .left-dash .calendar .overlay:hover {
            background-color: rgba(66, 66, 66, 0.7); }
          .dashboard-page .content .left-dash .calendar .overlay h4 {
            text-align: center;
            padding-top: 20%; }
      .dashboard-page .content .left-dash .training-plans {
        padding: 2em;
        background-color: #BED194; }
      .dashboard-page .content .left-dash .create-plan {
        padding: 2em;
        background-color: #2E313D; }
      .dashboard-page .content .left-dash .workouts {
        padding: 2em;
        background-color: #D0C8C5; }
      .dashboard-page .content .left-dash .create-workout {
        padding: 2em;
        background-color: #499989; }
    .dashboard-page .content .upcoming {
      padding: 2em;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      background-color: #FF534E; }
      .dashboard-page .content .upcoming:last-child {
        margin-right: 0; }
      .dashboard-page .content .upcoming h4 {
        display: inline-block;
        float: left; }
      .dashboard-page .content .upcoming a {
        color: #FAFAFA; }
        .dashboard-page .content .upcoming a p {
          border: 1px solid #FAFAFA;
          border-radius: 4px;
          padding: .5em;
          display: inline-block;
          float: right; }
          .dashboard-page .content .upcoming a p:hover {
            background-color: #FAFAFA;
            color: #FF534E; }
      .dashboard-page .content .upcoming h5 {
        color: #424242;
        font-family: "Tinos", serif; }

/* TEAM PAGE
------------ */
.team-page .team-header {
  overflow: hidden; }
  .team-page .team-header .team-logo {
    overflow: hidden;
    display: inline-block;
    float: left; }
  .team-page .team-header .team-nav nav {
    overflow: hidden;
    float: right; }
    .team-page .team-header .team-nav nav ul li {
      font-family: "Fjalla One", sans-serif;
      font-size: 1em;
      display: inline-block; }
