<div class="addworkout-form">

<p>Fill out information below to add workout.</p>

  <form ng-submit="addWorkout(workout)">
    <input type="text" placeholder="Workout Name" ng-model="workout.name">
<!--     <input type="checkbox" name="strength" label="Strength" ng-model="workout.type">
    <input type="checkbox" name="endurance" label="Endurance" ng-model="workout.type">
    <input type="checkbox" name="agility" label="Agility" ng-model="workout.type"> -->

      <label>What type of workout is this?</label>

      <input id="strengthradio" type="radio" ng-model="workout.description" value="Strength"><label for="strengthradio">Strength</label>

      <input id="enduranceradio" type="radio" ng-model="workout.description" value="Endurance"><label for="enduranceradio">Endurance</label>

      <input id="agilityradio" type="radio" ng-model="workout.description" value="Agility"><label for="agilityradio">Agility</label>

      <input id="flexibilityradio" type="radio" ng-model="workout.description" value="Flexibility"><label for="flexibilityradio">Flexibility</label>

      <input id="speedradio" type="radio" ng-model="workout.description" value="Speed"><label for="speedradio">Speed</label>

    <div class="check">
      <label>
        <input class="completed-box" type="checkbox" [ng-true-value="true"] [ng-false-value="false"] id="" placeholder="Yes" ng-model="workout.running">Running Workout
      </label>
    </div>
    <div class="check">
      <label>
        <input class="completed-box" type="checkbox" [ng-true-value="true"] [ng-false-value="false"] id="" placeholder="Yes" ng-model="workout.weightlifting">Weight Lifting Workout
      </label>
    </div>
    <div class="check">
      <label>
        <input class="completed-box" type="checkbox" [ng-true-value="true"] [ng-false-value="false"] id="" placeholder="Yes" ng-model="workout.swimming">Swimming Workout
      </label>
    </div>
    <div class="check">
      <label>
        <input class="completed-box" type="checkbox" [ng-true-value="true"] [ng-false-value="false"] id="" placeholder="Yes" ng-model="workout.cycling">Cycling Workout
      </label>
    </div>
    <div class="check">
      <label>
        <input class="completed-box" type="checkbox" [ng-true-value="true"] [ng-false-value="false"] id="" placeholder="Yes" ng-model="workout.circuittraining">Circuit Training Workout
      </label>
    </div>

    <select name="workoutLength" ng-model="workout.time">
      <option value="" disabled selected>Workout Length (in minutes)</option>
      <option ng-repeat="mins in trainingLength" value="{{ mins }}">{{ mins }}</option>
    </select>

    <input class="stepInput" type="text" placeholder="Workout Step (click + for additional steps)" ng-model="workout.steps">

    <div class="addedInputs" id="addedInputs"></div>

    <p class="addStep" ng-click="addInput()"><i class="fa fa-plus"></i>Add Step</p>
    <!-- need to add + to show more inputs for more legs here -->

    <input type="text" placeholder="Image URL (optional)" ng-focus="addPrefix('http://')" ng-model="workout.image_url" onfocus="this.value = this.value;">

    <input type="text" placeholder="Video URL (optional)" ng-focus="addPrefix('http://')" ng-model="workout.video_url" onfocus="this.value = this.value;">


    <button>Add Workout</button>
  </form>

</div>
