<div class="login-page">

  <header class="home-header">
    <div class="outerheader">
      <div class="innerheader">
        <a href="#/"><div class="logo">
          <img src="images/zone-in.png">
        </div></a>
      </div>
    </div>
  </header>

  <div class="login-form">
  <div class="login-header">
    <p>LOGIN HERE</p>
    <span>&mdash; OR &mdash;</span>
    <a href="#/register"><p class="register-btn">register</p></a>
  </div>
    <form ng-submit="loginUser(demoUser)">
      <input class="user-email" type="text" placeholder="Email address" ng-model="demoUser.email" ng-focus="addValue('demo@demo.com')" autofocus/>
      <input class="user-password" type="password" placeholder="Password" ng-model="demoUser.password" ng-focus="addValue('demopassword')"/>
      <button>Login</button>
    </form>
  </div>

</div>
