<div class="homepage-wrapper" ui-view>

  <header class="home-header">
    <div class="outerheader">
      <div class="innerheader">
        <a href="#/"><div class="logo">
          <img src="images/zone-in.png">
          <!-- <h2>zone in</h2> -->
        </div></a>
        <div class="rightheader">
          <nav>
            <li><a href="#/">Home</a></li>
            <li><a href="#">What it Is</a></li>
            <li><a href="#/register">Sign Up</a></li>
            <li><a href="#/login">Sign In</a></li>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="home-head">
    <div class="title-back">
      <h1>Get ready to Zone In</h1>
      <h2>Your personal training hub</h2>
    </div>
    <div class="scroll-arrow"><i class="fa fa-angle-double-down"></i></div>
  </div>

  <div class="who-we-are">
    <h4>who we are</h4>
    <p>For active people looking to organize and track their athletic training, Zone In is the personal hub tailored to help you stay on track and reach your personal training goals.</p>
  </div>

  <div class="how-it-works">
    <div class="hiw-title">
      <h5>how it works</h5>
    </div>

    <div class="hiw-content">

      <div class="hiw-box box-steps">
        <div class="inner-box-steps">
          <h5>step 1: create</h5>
          <hr />
          <p>Create specific workouts you know you want to include in your training plans, or just start planning right away using workouts other users have created.</p>
        </div>
      </div>

      <div class="hiw-box box-image">
        <img src="images/girl_laptop.png">
      </div>

      <div class="hiw-box box-image">
      <img src="images/staying_fit.png">
      </div>

      <div class="hiw-box box-steps">
        <div class="inner-box-steps">
          <h5>step 2: train</h5>
          <hr />
          <p>Get your training brain on and follow your created plan. Don't forget to log back in and complete the workouts once you're done with each of them. Check the dashboard to track your progress.</p>
        </div>
      </div>

  </div><!-- end how it works div -->

  <div class="footer">
    <div class="inner-footer">
      <div class="footer-logo">
          <img src="images/zone-in.png">
      </div>

      <div class="contact-us">

      </div>
    </div>
  </div>


</div> <!-- end homepage wrapper -->
