<div class="planning-page">

  <div class="planning-content">

    <div class="planning-header">
      <h4 class="training-plan-name">{{ currentTrainingPlan.name }}</h4>
      <div class="dates">
        <h5>{{ formatDate(currentTrainingPlan.start_date) }} to</h5>
        <h5>{{ formatDate(currentTrainingPlan.end_date) }}</h5>
      </div>
      <!-- <p>{{ currentTrainingPlan.description }}</p> -->
    </div>

  <div class="workouts-inner">
      <h5>Drag workouts to add them to {{ currentTrainingPlan.name }} training plan</h5>
      <h4 class="addWorkoutBtn" ng-click="clickToOpenAddW()"><i class="fa fa-plus-circle"></i>Add new workout</h4>

      <div class="sort-menu">
        <p class="sort-button" ng-click="showSortMenu()">Sort By <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down hide"></i></p><div id="active-sort"></div>

        <div class="sort-dropdown hide">
          <div class="sort-triangle"></div>
          <p class="sort-option" ng-click="sort(workoutList, 'color')">Type</p>
          <ul>
            <li class="sort-option" ng-click="sortRequest('Strength')">Strength</li>
            <li class="sort-option" ng-click="sortRequest('Endurance')">Endurance</li>
            <li class="sort-option" ng-click="sortRequest('Agility')">Agility</li>
            <li class="sort-option" ng-click="sortRequest('Flexibility')">Flexibility</li>
            <li class="sort-option" ng-click="sortRequest('Speed')">Speed</li>
          </ul>

          <p class="sort-option" ng-click="sort(workoutList, 'workout_creator')">Creator</p>
          <p class="sort-option" ng-click="sort(workoutList, 'time')">Duration</p>
          <!-- <p ng-click="sort(workoutList, 'color')">Workout Type</p> -->
          <!-- <p class="sort-option" ng-click="sortReverse(workoutList, 'running')">Running</p> -->
          <p class="sort-option" ng-click="sortCategory()">Running</p>

          <p class="sort-option" ng-click="sortReverse(workoutList, 'weightlifting')">Weight Lifting</p>
          <p class="sort-option" ng-click="sortReverse(workoutList, 'swimming')">Swimming</p>
          <p class="sort-option" ng-click="sortReverse(workoutList, 'cycling')">Cycling</p>
          <p class="sort-option" ng-click="sortReverse(workoutList, 'circuit_training')">Circuit Training</p>
        </div>
      </div>

    <div class="workout-list-container">

      <div class="workout workout-droppable"
      ng-click="openWorkoutModal(w)"
      ng-repeat="w in workoutList"
      ng-model="workoutList"
      data-drop="true"
      data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=workoutList])'}"
      jqyoui-droppable="{index: {{$index}}}">
        <div data-id="{{ w.id }}"
        class="workout-draggable"
        data-drag="true"
        data-jqyoui-options="{revert: 'invalid'}"
        ng-model="workoutList"
        jqyoui-draggable="{onStart: 'dragStart(w)', onDrop: 'dropFunc(w)', index: {{$index}}, placeholder: 'keep', animate: false}"
        ng-hide="!w.name"
        >

          <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
            <h4>{{ w.name }}</h4>
<!--             <div class="icon">
              <img ng-src="{{ iconShowCycle(w) }}" class="cycling sport-icon hide">
              <img ng-src="{{ iconShowRunning(w) }}" class="running sport-icon hide">
              <img ng-src="{{ iconShowSwimming(w) }}" class="swimming sport-icon hide">
              <img ng-src="{{ iconShowWeights(w) }}" class="weights sport-icon hide">
              <img ng-src="{{ iconShowCircuit(w) }}" class="circuits sport-icon hide">
            </div> -->
          </div>
          <div class="workout-descrip">
            <p>{{ w.description }}</p><p>{{ w.time }} minutes</p>
          </div>
<!--             <div class="icon">
              <img ng-src="{{ iconShowCycle(w) }}" class="cycling sport-icon hide">
              <img ng-src="{{ iconShowRunning(w) }}" class="running sport-icon hide">
              <img ng-src="{{ iconShowSwimming(w) }}" class="swimming sport-icon hide">
              <img ng-src="{{ iconShowWeights(w) }}" class="weights sport-icon hide">
              <img ng-src="{{ iconShowCircuit(w) }}" class="circuits sport-icon hide">
            </div> -->
          <div class="workout-image">
            <img src="{{ w.image_url }}">
          </div>

          <ul class="workout-steps-container hide">
            <!-- <li>{{ w.steps }}</li> -->
            <li class="workout-steps" ng-repeat="s in w.steps track by $index">{{ s }}</li>
          </ul>

          <div class="workout-bottom">
            <p>Created by: {{ w.workout_creator }}</p>
          <div class="workout-interval hide">
            <form>
              <!-- <p>{{ w.select }}</p> -->
<!--               <label ng-repeat="day in w.planDays">
                {{ day }} <input type="checkbox" checklist-model="w.planDays.days" checklist-value="day">
              </label> -->

              <label for="workoutDate">Workout date</label>
              <input type="date" id="workoutDate" name="input" ng-model="w.workoutDate" placeholder="yyyy-MM-dd" min="2015-01-01" required />
              <button>Confirm Date</button>

            </form>
          </div>
          </div>


        </div>
      </div>

    </div>
  </div>

<!-- <<<<<<<<<<<<<<<<<<<<<<< ******************** >>>>>>>>>>>>>>>>>>>>>>> -->
<!-- <<<<<<<<<<<<<<<<<<<<<<< START ALL DROP ZONES >>>>>>>>>>>>>>>>>>>>>>> -->
<!-- <<<<<<<<<<<<<<<<<<<<<<< ******************** >>>>>>>>>>>>>>>>>>>>>>> -->

<!-- <div class="planning-drops-wrapper"> -->
    <ul class="planning-drops">

    <h5>Drag and drop workouts here.<h5>
    <button class="finish-plan-btn" ng-click="finishTrainingPlan()"><i class="fa fa-check-square"></i>Finish Training Plan</button>

<!-- ng-repeat="d in getPlanDates" -->


      <li class="planning-dropzone" >
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[0]) }}"
        data-drop="true"
        ng-model="list1"
        data-jqyoui-options="optionsList1"
        jqyoui-droppable="{multiple: true, onDrop:'dropFunc(w)'}">

        <p class="dropzone-date">{{ formatDate(getPlanDates[0]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list1"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list1"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

                <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                  <h4>{{ w.name }}</h4>
                  <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                    <i class="fa fa-times-circle"></i>
                  </div>
                </div>

                <div class="workout-descrip">
                  <p>{{ w.description }}</p>
                  <p>{{ w.time }} minutes</p>
                </div>

            </div> <!-- end workout-draggable -->
          </div><!-- end caption -->
        </div><!-- end planning thumbnail -->
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[1]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[1]) }}"

        data-drop="true"
        ng-model="list2"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list2])'}"
        jqyoui-droppable="{multiple: false, onDrop:'dropFunc(w)'}">

        <p class="dropzone-date">{{ formatDate(getPlanDates[1]) }}</p>


          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list2"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list2"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>

          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[2]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[2]) }}"

        data-drop="true"
        ng-model="list3"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list3])'}"
        jqyoui-droppable="{multiple: true, onDrop:'dropFunc(w)'}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[2]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list3"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list3"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[3]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[3]) }}"

        data-drop="true"
        ng-model="list4"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list4])'}"
        jqyoui-droppable="{multiple: true, onDrop:'dropFunc(w)'}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[3]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list4"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list4"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[4]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[4]) }}"

        data-drop="true"
        ng-model="list5"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list5])'}"
        jqyoui-droppable="{multiple: true, onDrop:'dropFunc(w)'}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[4]) }}</p>


          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list5"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list5"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[5]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[5]) }}"

        data-drop="true"
        ng-model="list6"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list6])'}"
        jqyoui-droppable="{multiple: true, onDrop:'dropFunc(w)'}">

        <p class="dropzone-date">{{ formatDate(getPlanDates[5]) }}</p>


          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list6"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list6"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[6]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[6]) }}"


        data-drop="true"
        ng-model="list7"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list7])'}"
        jqyoui-droppable="{multiple: true, onDrop:'dropFunc(w)'}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[6]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list7"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list7"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[7]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[7]) }}"

        data-drop="true"
        ng-model="list8"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list8])'}"
        jqyoui-droppable="{multiple: true, onDrop:'dropFunc(w)'}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[7]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list8"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list8"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[8]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[8]) }}"

        data-drop="true"
        ng-model="list9"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list9])'}"
        jqyoui-droppable="{multiple: true, onDrop:'dropFunc(w)'}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[8]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list9"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list9"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[9]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[9]) }}"

        data-drop="true"
        ng-model="list10"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list10])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[9]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list10"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list10"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[10]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[10]) }}"

        data-drop="true"
        ng-model="list11"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list11])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[10]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list11"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list11"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[11]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[11]) }}"

        data-drop="true"
        ng-model="list12"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list12])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[11]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list12"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list12"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[12]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[12]) }}"

        data-drop="true"
        ng-model="list13"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list13])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[12]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list13"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list13"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[13]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[13]) }}"

        data-drop="true"
        ng-model="list14"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list14])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[13]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list14"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list14"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[14]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[14]) }}"

        data-drop="true"
        ng-model="list15"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list15])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[14]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list15"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list15"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[15]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[15]) }}"
        data-drop="true"
        ng-model="list16"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list16])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[15]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list16"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list16"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[16]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[16]) }}"
        data-drop="true"
        ng-model="list17"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list17])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[16]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list17"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list17"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[17]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[17]) }}"
        data-drop="true"
        ng-model="list18"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list18])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[17]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list18"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list18"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[18]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[18]) }}"
        data-drop="true"
        ng-model="list19"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list19])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[18]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list19"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list19"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[19]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[19]) }}"
        data-drop="true"
        ng-model="list20"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list20])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[19]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list20"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list20"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[20]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[20]) }}"
        data-drop="true"
        ng-model="list21"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list21])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[20]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list21"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list21"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[21]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[21]) }}"
        data-drop="true"
        ng-model="list22"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list22])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[21]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list22"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list22"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[22]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[22]) }}"
        data-drop="true"
        ng-model="list23"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list23])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[22]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list23"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list23"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[23]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[23]) }}"
        data-drop="true"
        ng-model="list24"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list24])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[23]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list24"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list24"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[24]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[24]) }}"
        data-drop="true"
        ng-model="list25"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list25])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[24]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list25"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list25"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[25]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[25]) }}"
        data-drop="true"
        ng-model="list26"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list26])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[25]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list26"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list26"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[26]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[26]) }}"
        data-drop="true"
        ng-model="list27"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list27])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[26]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list27"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list27"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[27]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[27]) }}"
        data-drop="true"
        ng-model="list28"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list28])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[27]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list28"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list28"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[28]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[28]) }}"
        data-drop="true"
        ng-model="list29"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list29])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[28]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list29"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list29"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[29]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[29]) }}"
        data-drop="true"
        ng-model="list30"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list30])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[29]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list30"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list30"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone" ng-class="getDropzoneClass(formatDate(getPlanDates[30]))">
        <div class="planning-thumbnail"
        data-id="{{ formatDateLarge(getPlanDates[30]) }}"
        data-drop="true"
        ng-model="list31"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list31])'}"
        jqyoui-droppable="{multiple: true}">
        <p class="dropzone-date">{{ formatDate(getPlanDates[30]) }}</p>

          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list31"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list31"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              </div>

            </div>
          </div>
        </div>
      </li>

    </ul>
    <!-- </div> -->
    <!-- end planning drops wrapper -->

  </div>

</div>

</div>
