<div class="planning-page">
  <div class="planning-content">

    <div class="planning-header">
      <h4 class="training-plan-name">{{ currentTrainingPlan.name }}</h4>
      <div class="dates">
        <h5>{{ formatDate(currentTrainingPlan.start_date) }} to</h5>
        <h5>{{ formatDate(currentTrainingPlan.end_date) }}</h5>
      </div>
      <p>{{ currentTrainingPlan.description }}</p>
    </div>

  <div class="workouts-inner">
      <h5>Drag workouts to add them to {{ currentTrainingPlan.name }} training plan</h5>
      <h4 ng-click="clickToOpenAddW()"><i class="fa fa-plus-circle"></i>Add new workout</h4>
      <p>sort by</p>
      <p ng-click="sort(workoutList, 'color')">Type</p>
      <p ng-click="sort(workoutList, 'color')">Strength</p>
      <p ng-click="sort(workoutList, 'color')">Endurance</p>
      <p ng-click="sort(workoutList, 'color')">Agility</p>
      <p ng-click="sort(workoutList, 'color')">Flexibility</p>
      <p ng-click="sort(workoutList, 'color')">Speed</p>

      <p ng-click="sort(workoutList, 'color')">Creator</p>
      <p ng-click="sort(workoutList, 'color')">Duration</p>
      <p ng-click="sort(workoutList, 'color')">Workout Type</p>
      <p ng-click="sort(workoutList, 'color')">Running</p>
      <p ng-click="sort(workoutList, 'color')">Weight Lifting</p>
      <p ng-click="sort(workoutList, 'color')">Swimming</p>
      <p ng-click="sort(workoutList, 'color')">Cycling</p>
      <p ng-click="sort(workoutList, 'color')">Circuit Training</p>


    <div class="workout-list-container">

      <div class="workout workout-droppable"
      ng-click="openWorkoutModal(w)"
      ng-repeat="w in workoutList"
      ng-model="workoutList"
      data-drop="true"
      data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=workoutList])'}"
      jqyoui-droppable="{index: {{$index}}}">
        <div data-id="{{ w.id }}"
        class="workout-draggable"
        data-drag="true"
        data-jqyoui-options="{revert: 'invalid'}"
        ng-model="workoutList"
        jqyoui-draggable="{onStart: 'dragStart(w)',index: {{$index}}, placeholder: 'keep', animate: false}"
        ng-hide="!w.name"
        >

          <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
            <h4>{{ w.name }}</h4>
            <div class="icon">
              <img ng-src="{{ iconShowCycle(w) }}" class="cycling sport-icon hide">
              <img ng-src="{{ iconShowRunning(w) }}" class="running sport-icon hide">
              <img ng-src="{{ iconShowSwimming(w) }}" class="swimming sport-icon hide">
              <img ng-src="{{ iconShowWeights(w) }}" class="weights sport-icon hide">
              <img ng-src="{{ iconShowCircuit(w) }}" class="circuits sport-icon hide">
            </div>
          </div>
          <div class="workout-descrip">
            <p>{{ w.description }}</p><p>{{ w.time }} minutes</p>
          </div>
          <div class="workout-image">
            <img src="{{ w.image_url }}">
          </div>

          <ul class="workout-steps-container hide">
            <!-- <li>{{ w.steps }}</li> -->
            <li class="workout-steps" ng-repeat="s in w.steps track by $index">{{ s }}</li>
          </ul>

          <div class="workout-bottom">
            <p>Created by: {{ w.workout_creator }}</p>
          <div class="workout-interval hide">
            <form>
              <!-- <p>{{ w.select }}</p> -->
<!--               <label ng-repeat="day in w.planDays">
                {{ day }} <input type="checkbox" checklist-model="w.planDays.days" checklist-value="day">
              </label> -->

              <label for="workoutDate">Workout date</label>
              <input type="date" id="workoutDate" name="input" ng-model="w.workoutDate" placeholder="yyyy-MM-dd" min="2015-01-01" required />
              <button>Confirm Date</button>

            </form>
          </div>
          </div>


        </div>
      </div>

    </div>
  </div>

<!-- <<<<<<<<<<<<<<<<<<<<<<< ******************** >>>>>>>>>>>>>>>>>>>>>>> -->
<!-- <<<<<<<<<<<<<<<<<<<<<<< START ALL DROP ZONES >>>>>>>>>>>>>>>>>>>>>>> -->
<!-- <<<<<<<<<<<<<<<<<<<<<<< ******************** >>>>>>>>>>>>>>>>>>>>>>> -->


    <ul class="planning-drops">

    <button ng-click="finishTrainingPlan()">Finish Training Plan</button>
    <h5>Drag and drop workouts here.<h5>


      <li class="planning-dropzone">
        <div class="planning-thumbnail"

        data-drop="true"
        ng-model="list1"
        data-jqyoui-options="optionsList1"
        jqyoui-droppable="{multiple: false, onDrop:'dropFunc(w)'}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list1"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list1"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <!-- <div class="single-workout-dragged"> -->
                <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                  <h4>{{ w.name }}</h4>
                  <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                    <i class="fa fa-times-circle"></i>
                  </div>
                </div>
                <div class="workout-descrip">
                  <p>{{ w.description }}</p>
                  <p>{{ w.time }} minutes</p>
                  <div class="icon">
                    <img ng-src="{{ checkType(w) }}">
                  </div>
                </div>
<!--                 <div class="workout-image">
                  <img src="{{ w.image_url }}">
                </div> -->

                <div class="workout-bottom">
                  <p>Created by: {{ w.workout_creator }}</p>
                  <div class="workout-interval">
                    <form ng-submit="addDate(workout)">
                      <!-- <p>{{ w.select }}</p> -->
  <!--                       <label ng-repeat="day in w.planDays">
                          {{ day }} <input type="checkbox" checklist-model="w.planDays.days" checklist-value="day">
                        </label> -->

                        <label for="workoutDate">Choose Workout Date(s)</label>
                        <input type="date" id="workoutDate" name="input" ng-model="workout.date" placeholder="yyyy-MM-dd" min="2015-01-01" required />
                        <input type="date" id="workoutDate" name="input" ng-model="workout.secondDate" placeholder="yyyy-MM-dd" min="2015-01-01" />
                        <input type="date" id="workoutDate" name="input" ng-model="workout.thirdDate" placeholder="yyyy-MM-dd" min="2015-01-01" />
                        <button>Confirm Date(s)</button>

                    </form>
                  </div>
                </div><!-- end workout-bottom -->
              <!-- </div> --><!-- end single-workout-dragged -->

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list2"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list2])'}"
        jqyoui-droppable="{multiple: false}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list2"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list2"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              <div class="icon">
                <img ng-src="{{ checkType(w) }}">
              </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <p>Created by: {{ w.workout_creator }}</p>
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="w.planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>



          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list3"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list3])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list3"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list3"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              <div class="icon">
                <img ng-src="{{ checkType(w) }}">
              </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <p>Created by: {{ w.workout_creator }}</p>
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="w.planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list4"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list4])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list4"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list4"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              <div class="icon">
                <img ng-src="{{ checkType(w) }}">
              </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <p>Created by: {{ w.workout_creator }}</p>
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="w.planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list5"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list5])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list5"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list5"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
              <div class="icon">
                <img ng-src="{{ checkType(w) }}">
              </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <p>Created by: {{ w.workout_creator }}</p>
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="w.planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list6"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list6])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list6"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list6"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <p>Created by: {{ w.workout_creator }}</p>
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list7"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list7])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list7"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list7"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <p>Created by: {{ w.workout_creator }}</p>
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list8"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list8])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list8"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list8"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">

                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list9"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list9])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list9"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list9"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
              </div>

              <div class="workout-interval">
                <form>
<!--                   <p>{{ w.select }}</p>
                    <label ng-repeat="day in w.planDays">
                      {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                    </label> -->
                </form>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list10"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list10])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list10"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list10"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <div class="workout-interval">
                  <form>
 <!--                    <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list11"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list11])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list11"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list11"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list12"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list12])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list12"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list12"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list13"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list13])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list13"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list13"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list14"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list14])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list14"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list14"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list15"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list15])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list15"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list15"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>

      <li class="planning-dropzone">
        <div class="planning-thumbnail"
        data-drop="true"
        ng-model="list16"
        data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=list16])'}"
        jqyoui-droppable="{multiple: true}">
          <div class="caption">
            <div class="workout workout-draggable"
            data-id="{{ w.id }}"
            ng-repeat="w in list16"
            ng-show="w.name"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-model="list16"
            jqyoui-draggable="{index: {{$index}}, animate:false}">

              <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
                <h4>{{ w.name }}</h4>
                <div class="delete-workout" ng-click="deleteWorkout(w.id)">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>
              <div class="workout-descrip">
                <p>{{ w.description }}</p>|<p>{{ w.time }} minutes</p>
                <div class="icon">
                  <img ng-src="{{ checkType(w) }}">
                </div>
              </div>
              <div class="workout-image">
                <img src="{{ w.image_url }}">
              </div>

              <div class="workout-bottom">
                <div class="workout-interval">
                  <form>
<!--                     <p>{{ w.select }}</p>
                      <label ng-repeat="day in w.planDays">
                        {{ day }} <input type="checkbox" checklist-model="planDays.days" checklist-value="day">
                      </label> -->
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>



    </ul>
  </div>

</div>

</div>
