<div class="plan-training-page">

  <h2>This is my planning page for training</h2>

  <div class="workout-library">
    <ul class="workout-library-ul">
      <p>Click + to add any workouts to your training plan</p>
      <p>sort by</p>
      <p ng-click="sort(workoutList, 'color')">Workout Type</p>

      <li class="workout-card block"
      ng-repeat="w in workoutList"
      data-drag="true"
      data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
      ng-model="list1"
      jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">

        <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
          <h4>{{ w.name }}</h4>
        </div>
        <div class="workout-descrip">
          <p>Type: {{ w.description }}</p><p>Length: {{ w.time }} minutes</p>
        </div>
        <div class="workout-image">
          <img src="{{ w.image_url }}">
        </div>
        <!-- <p>{{ w.steps }}</p> -->

        <p>Created by: {{ w.creator_id }}</p>
        <div class="icon">
          <img ng-src="{{ checkType(w) }}">
        </div>
      </li>

    </ul>
  </div><!-- end workout library div -->


  <div class="create-plan"
  data-drop="true"
  ng-model='workoutList'
  jqyoui-droppable="{multiple:true}">

  <ul>
    <li>
      <li
      ng-repeat="item in list4 track by $index"
      ng-show="item.title"
      data-drag="true"
      data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
      ng-model="list4"
      jqyoui-draggable="{index: {{$index}},animate:true}">{{workout.name}}</li>

      <li class="placeholder">Add your items here</li>
    </li>
  </ul>

    <h4>{{ trainingPlan.name }}</h4>
    <p>{{ trainingPlan.start_date }}</p>
    <p>{{ trainingPlan.end_date }}</p>

    <form ng-submit="addTrainingPlan(plan)">
      <label for="planName">Training Plan Name</label>
      <input type="text" id="planName" placeholder="Training Plan Name" ng-model="plan.name">

      <label for="startInput">Start Date</label>
      <input type="date" id="startInput" name="input" ng-model="plan.start_date" placeholder="yyyy-MM-dd" min="2015-01-01" required />

      <label for="endInput">End Date</label>
      <input type="date" id="endInput" name="input" ng-model="plan.end_date" placeholder="yyyy-MM-dd" min="2015-01-01" required>

<!--       <ul>
        <li ng-repeat="s in selectedWorkouts">
          <p>{{ s.name }}</p>
          <p>{{ s.description }}</p>
          <p>{{ s.steps }}</p>
        </li>
      </ul> -->

      <button>Complete Training Plan</button>
    </form>


  </div><!-- end create plan div -->

</div><!-- end plan training page -->
