<div class="login-page register-page-wrapper">

  <header class="home-header">
    <div class="outerheader">
      <div class="innerheader">
        <a href="#/"><div class="logo">
          <img src="images/zone-in.png">
          <!-- <h2>zone in</h2> -->
        </div></a>
        <!-- <div class="rightheader"> -->
          <!-- <nav> -->
            <!-- <li><a href="#/">Home</a></li> -->
            <!-- <li><a href="#">What it Is</a></li> -->
            <!-- <li><a href="#/register">Sign Up</a></li> -->
            <!-- <li><a href="#/login">Sign In</a></li> -->
          <!-- </nav> -->
        <!-- </div> -->
      </div>
    </div>
    <!-- <div class="scroll-arrow"><i class="fa fa-angle-double-down" ng-click="scrollTo('.container')"></i></div> -->
  </header>

  <div class="register-page" ui-view>

    <div class="register-form">
      <div class="register-header">
        <p>REGISTER HERE</p>
        <span>&mdash; OR &mdash;</span>
        <a href="#/login"><p class="login-btn">login</p></a>
      </div>
      <form ng-submit="registerUser(regUser)">
        <input type="email" ng-model="regUser.email" placeholder="Email Address">
        <input type="text" ng-model="regUser.username" placeholder="Username">
        <input type="password" ng-model="regUser.password" placeholder="Password">
        <button>Register</button>
      </form>
    </div>

  </div>

</div>
