<div class="team-page">

  <header class="home-header">
    <div class="outerheader">
      <div class="innerheader">
        <a href="#/dash"><div class="logo">
          <img src="images/zone-in.png">
          <h2>teams</h2>
        </div></a>
        <div class="rightheader">

          <nav>
            <li><a href="#">SETTINGS</a></li>
            <li><a ng-click="logoutUser()">LOGOUT</a></li>
          </nav>

        </div>
      </div>
    </div>
    <!-- <div class="scroll-arrow"><i class="fa fa-angle-double-down" ng-click="scrollTo('.container')"></i></div> -->
  </header>



<div class="team-header">
  <div class="team-logo">
    <img src="http://www.placehold.it/200x200">
  </div>
  <div class="team-nav">
    <nav>
      <ul>
        <li>Team Home</li>
        <li>Team Directory</li>
        <li>Team Calendar</li>
        <li>Team Videos & Photos</li>
      </ul>
    </nav>
  </div>
</div>

<h2>This will be the TEAM page.</h2>


</div> <!-- end of team page -->
