<div class="team-page">

  <header class="home-header team-page-header">
    <div class="outerheader">
      <div class="innerheader">
        <a href="#/dash"><div class="logo">
          <img src="images/zone-in.png">
          <h2>teams</h2>
        </div></a>
        <div class="rightheader">

          <nav>
            <div class="nav-item">
              <i class="fa fa-bell"></i>
            </div>
            <div class="nav-item">
              <div class="user-avatar">
                <img src="https://scontent-atl1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1480657_10101896304592339_452960075_n.jpg?oh=9684a12a05fdae10c9b88bb2523518d3&oe=56201A8D">
              </div>
              <div class="user-name">
                Kelley Rose
              </div>
            </div>
            <!-- <li><a href="#">SETTINGS</a></li> -->
            <li><a ng-click="logoutUser()">LOGOUT</a></li>
          </nav>

        </div>
      </div>
    </div>
    <!-- <div class="scroll-arrow"><i class="fa fa-angle-double-down" ng-click="scrollTo('.container')"></i></div> -->
  </header>

<h3>KSU Rugby Fall 2015</h3>

<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="#/teamtemplate">team home</a></li>
        <li class="nav-link"><a href="#/teamtemplate/directory">team directory</a></li>
        <li class="nav-link team-logo">
          <img src="http://www.sirugby.com/images/lg-kennesawSt.jpg">
        </li>
        <li class="nav-link"><a href="#/teamtemplate/calendar">team calendar</a></li>
        <li class="nav-link"><a href="#/teamtemplate/media">team videos & photos</a></li>
      </ul>
    </nav>
  </div>
</header>



<div class="team-page-content" ui-view>

<div class="team-image">
</div>

<div class="team-content-sections">
  <div class="team-left-content">
    <h5>KSU Rugby Fall 2015's Team Members</h5>
    <p><a href="#">See this week's roster</a></p>
    <ul class="team-coach-list">
      <p>Coaches</p>
      <li>Josh Smith</li>
      <li>Tim Rose</li>
    </ul>
    <ul class="team-athlete-list">
      <p>Athletes</p>
      <li>Kelley Rose ------------------- 32%</li>
      <li>Bob Smiles ------------------- 45%</li>
      <li>Michael Hand ------------------- 89%</li>
      <li>Jerry Springer ------------------- 21%</li>
      <li>Laura Grange ------------------- 54%</li>
    </ul>
  </div>

  <div class="team-right-content">
    <h5>Message Board</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>


</div>

</div><!-- end of team page content -->

</div> <!-- end of team page -->
