<h3>Welcome new user! Fill out more info below.</h3>
<form ng-submit="updateUserInfo()">
  <input type="text" placeholder="First Name">
  <input type="text" placeholder="Last Name">
  <input type="text" placeholder="Phone Number">
  <input type="text" placeholder="Street Address">
  <input type="text" placeholder="City">
  <input type="text" placeholder="State">
  <input type="text" placeholder="Zip Code">

  <p>Activities you are interested in</p>
  <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox">
  <label for="checkboxG1" class="css-label">Rugby</label>

  <input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox">
  <label for="checkboxG2" class="css-label">Lacrosse</label>

  <input type="checkbox" name="checkboxG3" id="checkboxG3" class="css-checkbox">
  <label for="checkboxG3" class="css-label">Running</label>

  <input class="imageupload" type="file" name="imagefilename" accept="image/x-png, image/gif, image/jpeg">
  <!-- <input class="imageupload" type="submit" value="Upload"> -->
  <button>Finish Sign Up</button>
</form>
