<div class="workout-modal">

  <div class="workout">
      <div class="workout-title" ng-style="{'background-color':'{{ ngDialogData.color }}'}">
          <h4>{{ ngDialogData.name }}</h4>
            <div class="icon">
              <img ng-src="{{ iconShowCycle(ngDialogData) }}" class="cycling sport-icon hide">
              <img ng-src="{{ iconShowRunning(ngDialogData) }}" class="running sport-icon hide">
              <img ng-src="{{ iconShowSwimming(ngDialogData) }}" class="swimming sport-icon hide">
              <img ng-src="{{ iconShowWeights(ngDialogData) }}" class="weights sport-icon hide">
              <img ng-src="{{ iconShowCircuit(ngDialogData) }}" class="circuits sport-icon hide">
            </div>
      </div>
      <div class="workout-descrip">
          <p>{{ ngDialogData.description }} |</p>
          <p>{{ ngDialogData.time }} minutes</p>
      </div>

      <div class="workout-modal-content">
        <div class="workout-image">
            <img src="{{ ngDialogData.image_url }}">
        </div>
        <ol class="workout-steps-container custom-counter">
            <!-- <li>{{ ngDialogData.steps }}</li> -->
            <li class="workout-steps" ng-repeat="s in ngDialogData.steps track by $index">{{ s }}</li>
        </ol>
      </div>
  </div>

</div>
