<div class="workout-page">
  <h2>{{ user.username }}'s Adopted Workouts</h2>

<!--   <div class="add-buttons">
    <div class="create-new-button addTrainingBtn" ng-click="clickToOpenAddT()">
      <img src="images/sport_mix.png">
      <div class="overlay">
        <h4><i class="fa fa-plus-circle"></i>New Training Plan</h4>
      </div>
    </div>
  </div> -->
  <!-- end add-buttons div -->

  <ul class="workout-steps all-user-workouts">
    <li class="workout" ng-repeat="workout in workoutDates" ng-click="openPlanWorkoutModal(workout)">

      <div class="overlay completed-overlay" ng-class="checkCompletion(workout.workout_completion)">
        <p class="hide completed-text">
          <i class="fa fa-check-square-o"></i>
          <span>Completed: {{ formatDate(workout.completion_date) }}</span>
        </p>
      </div>

      <div class="workout-title" ng-style="{'background-color':'{{ workout.workoutInfo.color }}'}">
        <h4>{{ workout.workoutInfo.name }}</h4>
        <div class="icon">
          <img ng-src="{{ iconShowCycle(workout.workoutInfo) }}" class="cycling sport-icon hide">
          <img ng-src="{{ iconShowRunning(workout.workoutInfo) }}" class="running sport-icon hide">
          <img ng-src="{{ iconShowSwimming(workout.workoutInfo) }}" class="swimming sport-icon hide">
          <img ng-src="{{ iconShowWeights(workout.workoutInfo) }}" class="weights sport-icon hide">
          <img ng-src="{{ iconShowCircuit(workout.workoutInfo) }}" class="circuits sport-icon hide">
        </div>
      </div>

      <div class="workout-descrip">
        <p>{{ workout.workoutInfo.description }}</p><p>{{ workout.workoutInfo.time }} minutes</p>
      </div>

      <div class="workout-image" ng-class="checkCompletionImg(workout.workout_completion)">
        <div class="overlay"><p>{{ formatDate(workout.do_date) }}</p></div>
        <img src="{{ workout.workoutInfo.image_url }}">
      </div>

      <div class="workout-bottom">
        <p>Created by: {{ workout.workoutInfo.workout_creator }}</p>
      </div>

    </li>
  </ul>

</div>
