<div class="workouts-inner">
<h4>TESTING NESTED VIEW</h4>
      <h5>Drag workouts to add them to {{ currentTrainingPlan.name }}</h5>
      <h4 ng-click="clickToOpenAddW()"><i class="fa fa-plus-circle"></i>Add new workout</h4>
      <p>sort by</p>
      <p ng-click="sort(workoutList, 'color')">Workout Type</p>
    <div class="workout-list-container">

      <div class="workout workout-droppable"
      ng-repeat="w in workoutList"
      ng-model="workoutList"
      data-drop="true"
      data-jqyoui-options="{accept: '.workout-draggable:not([ng-model=workoutList])'}"
      jqyoui-droppable="{index: {{$index}}}">
        <div data-id="{{ w.id }}"
        class="workout-draggable"
        data-drag="true"
        data-jqyoui-options="{revert: 'invalid'}"
        ng-model="workoutList"
        jqyoui-draggable="{onStart: 'dragStart(w)',index: {{$index}}, placeholder: 'keep', animate: false}"
        ng-hide="!w.name"
        >

          <div class="workout-title" ng-style="{'background-color':'{{ w.color }}'}">
            <h4>{{ w.name }}</h4>
            <div class="icon">
              <!-- <img ng-src="{{ checkType(w) }}"> -->
              <img src="images/cycling_white.png" class="sport-icon {{ showIcon(w.cycling) }}">
              <img src="images/running_icon_white.png" class="sport-icon {{ showIcon(w.running) }}">
              <img src="images/swimming_white.png" class="sport-icon {{ showIcon(w.swimming) }}">
              <img src="images/weight_white.png" class="sport-icon {{ showIcon(w.weightlifting) }}">
              <img src="images/circuit_white.png" class="sport-icon {{ showIcon(w.circuittraining) }}">
            </div>
          </div>
          <div class="workout-descrip">
            <p>{{ w.description }}</p><p>{{ w.time }} minutes</p>
          </div>
          <div class="workout-image">
            <img src="{{ w.image_url }}">
          </div>

          <ul class="workout-steps-container hide">
            <li>{{ w.steps }}</li>
            <!-- <li class="workout-steps" ng-repeat="s in w.steps track by $index">{{ s }}</li> -->
          </ul>

          <div class="workout-bottom">
            <!-- <p>Created by: {{ w.creator_id }}</p> -->
          <div class="workout-interval hide">
            <form>
              <!-- <p>{{ w.select }}</p> -->
<!--               <label ng-repeat="day in w.planDays">
                {{ day }} <input type="checkbox" checklist-model="w.planDays.days" checklist-value="day">
              </label> -->

              <label for="workoutDate">Workout date</label>
              <input type="date" id="workoutDate" name="input" ng-model="w.workoutDate" placeholder="yyyy-MM-dd" min="2015-01-01" required />
              <button>Confirm Date</button>

            </form>
          </div>
          </div>


        </div>
      </div>

    </div>
  </div>
