<div class="workout-page">
<h2>this is my workout page</h2>

<!--   <header class="home-header team-page-header">
    <div class="outerheader">
      <div class="innerheader">
        <a href="#/dash"><div class="logo">
          <img src="images/zone-in.png">
          <h2>training</h2>
        </div></a>
        <div class="rightheader">
          <nav>
            <div class="nav-item">
              <i class="fa fa-bell"></i>
            </div>
            <div class="nav-item">
              <div class="user-avatar">
                <img src="https://scontent-atl1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1480657_10101896304592339_452960075_n.jpg?oh=9684a12a05fdae10c9b88bb2523518d3&oe=56201A8D">
              </div>
              <div class="user-name">
                Kelley Rose
              </div>
            </div>
            <li><a ng-click="logoutUser()">LOGOUT</a></li>
          </nav>

        </div>
      </div>
    </div>
  </header> -->

  <p ng-click="clickToOpenAddW()"><i class="fa fa-plus-circle"></i> Create New Workout</p>
  <p ng-click="clickToOpenAddT()"><i class="fa fa-plus-circle"></i> Create New Training Plan</p>


</div>
