@import "../css/vendor/bourbon/bourbon";
@import "../css/vendor/neat/neat";

/* DECLARATIONS
---------------- */

$background: #FAFAFA;
$darkpurple: #2E313D;
$blue: #176785;
$darkblue: #0F4559;
$teal: #499989;
$darkteal: #187062;
$green: #BED194;
$offwhite: #FFD7BA;
$red: #FF534E;
$grey: #D0C8C5;
$darkgrey: #424242;

$tinos: 'Tinos', serif;
$fjalla: 'Fjalla One', sans-serif;
$gentium: 'Gentium Book Basic', serif;

/* MIXINS
---------- */

@mixin border ($color) {
  border: 1px solid $color;
  border-radius: 4px;
}

@mixin transition($time) {
  transition: $time all ease;
}

@mixin button($color) {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  color: $background;
  @include border($color);
  background-color: $color;
  @include transition(.3s);
}

@mixin backhome() {
  font-size: .5em;
  position: absolute;
  top: .5em;
  right: .5em;
  opacity: .6;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }
}

/* GLOBAL STYLES
---------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: $tinos;
  font-size: 62.5%;
  color: $darkgrey;
  background-color: $background;
  width: 100%;
}

input, button {
  border: none;
  @include border($blue);
  border-radius: 2px;
  @include transition(.3s);
  font-size: 1.5em;
  margin: 1em;

  &:focus {
    outline: none;
  }

}

.container {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: $teal;

  &:hover {
    color: $darkteal;
  }
}

ul {
  list-style: none;
}

li {
  list-style: none;
  font-size: 1.5em;
}

button {
  @include button($blue);

  &:hover {
    background-color: $darkblue;
  }
  &:active {
    background-color: $darkblue;
  }
  &:visited {
    background-color: $darkblue;
  }
}

p {
  font-size: 1.5em;
}

/* CHECKBOX STYLE
----------------- */
input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 30px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 2em;
    vertical-align: middle;
    cursor: pointer;
    color: $darkgrey;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -25px;
}

label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_d8cf819d987183169052b27a166a28e3.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* HEADER STYLE
--------------- */

  header {
    margin-bottom: 2em;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px .5px 2px $grey;
    -moz-box-shadow: 0px .5px 2px $grey;
    -o-box-shadow: 0px .5px 2px $grey;
    box-shadow: 0px .5px 2px $grey;

    .innerheader {
      overflow: hidden;
      width: 98%;
      margin: auto;

      .logo {
        float: left;
        display: inline-block;
        overflow: hidden;
        margin: 0;

        img {
          height: 5em;
          margin: 0;
          float: left;
        }

        h2 {
          font-family: $fjalla;
          // font-style: italic;
          font-size: 2.4em;
          transform: rotateZ(-16deg);
          padding: .2em .5em;
          color: $teal;
          float: left;
        }
      }

      .rightheader {
        overflow: hidden;
        float: right;

        nav {
          display: inline-block;

          li {
            font-family: $fjalla;
            color: $darkgrey;
            display: inline-block;
            padding: 1em;

            a {
              color: $darkgrey;
            }
          }
        }
      }
    }
  }

/* HOMEPAGE VIEW
---------------- */

.homepage-wrapper {
  overflow: hidden;

  .homepage-content {
    margin: 1em auto;
  }
}

/* DASHBOARD VIEW
----------------- */

.dashboard-page {
  @include outer-container(100%);

  header {
    @include fill-parent();
  }

  .content {
    font-family: $tinos;
    @include outer-container(96%);
    margin: 0 auto;

    div {
      margin-bottom: 2em;
    }

    h4 {
      color: $background;
      font-family: $fjalla;
    }

    i {
      margin-right: .5em;
      font-size: 1.5em;
    }

    .left-dash {
      @include span-columns(4);
      overflow: hidden;
      float: left;
      padding: 0;

      .team-list {
        padding: 2em;
        background-color: $blue;

        h4 {
          cursor: pointer;
        }

        ul {
          text-align: left;
          padding: 0;
          margin: 0;
        }

        a {
          color: $background;

          li {
            padding: 0;
            font-size: 1.2em;
            margin-bottom: .5em;
          }

          img {
            height: 3em;
            border-radius: 50%;
          }
        }
      }

      .calendar {
        overflow: hidden;
        position: relative;
        // background-color: $darkgrey;
        img {
          width: 100%;
        }

        .overlay {
          overflow: hidden;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(66, 66, 66, .9);
          @include transition(.3s);
          cursor: pointer;

          &:hover {
            background-color: rgba(66, 66, 66, .7);
          }

          h4 {
            text-align: center;
            // font-size: 0;
            padding-top: 20%;
          }
        }
      }

      .training-plans {
        padding: 2em;
        background-color: $green;
      }

      .create-plan {
        padding: 2em;
        background-color: $darkpurple;
      }

      .workouts {
        padding: 2em;
        background-color: $grey;
      }

      .create-workout {
        padding: 2em;
        background-color: $teal;
      }
    }

      .upcoming {
        padding: 2em;
        @include span-columns(8);
        background-color: $red;

        h4 {
          display: inline-block;
          float: left;
        }

        a {
          color: $background;

          p {
            @include border($background);
            padding: .5em;
            display: inline-block;
            float: right;

            &:hover {
              background-color: $background;
              color: $red;
            }
          }
        }

        h5 {
          color: $darkgrey;
          font-family: $tinos;
        }
      }

  }
}

/* TEAM PAGE
------------ */

.team-page {

}


/* CENTER NAV
------------- */

.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #E7F1EC;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;
  font-family: $fjalla;
  font-size: 1.5em;


// Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }


// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
// stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }


// The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.6;
  }


// Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}
