@import "../css/vendor/bourbon/bourbon";
@import "../css/vendor/neat/neat";

/* DECLARATIONS
---------------- */

$background: #FAFAFA;
$darkpurple: #2E313D;
$blue: #176785;
$darkblue: #0F4559;
$teal: #499989;
$darkteal: #187062;
$green: #BED194;
$greenrgb: rgba(190, 209, 148, .7);
$offwhite: #FFD7BA;
$red: #FF534E;
$grey: #D0C8C5;
$darkgrey: #424242;
$darkgreyrgb: rgba(66, 66, 66, .9);

$tinos: 'Tinos', serif;
$fjalla: 'Fjalla One', sans-serif;
$gentium: 'Gentium Book Basic', serif;

/* MIXINS
---------- */

@mixin border ($color) {
  border: 1px solid $color;
  border-radius: 4px;
}

@mixin transition($time) {
  transition: $time all ease;
}

@mixin button($color) {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  color: $background;
  @include border($color);
  background-color: $color;
  @include transition(.3s);
}

@mixin backhome() {
  font-size: .5em;
  position: absolute;
  top: .5em;
  right: .5em;
  opacity: .6;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }
}

@mixin boxShadow() {
  -webkit-box-shadow: 0px .5px 2px $grey;
  -moz-box-shadow: 0px .5px 2px $grey;
  -o-box-shadow: 0px .5px 2px $grey;
  box-shadow: 0px .5px 2px $grey;
}

@mixin overlay($color) {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color;
  @include transition(.3s);
  cursor: pointer;

  &:hover {
    background-color: rgba(66, 66, 66, .3);
  }

  h4 {
    text-align: center;
    // font-size: 0;
    padding-top: 12%;
    font-size: 4em;
  }
}

/* GLOBAL STYLES
---------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: $tinos;
  font-size: 62.5%;
  color: $darkgrey;
  background-color: $background;
  width: 100%;
}

input, button {
  border: none;
  @include border($blue);
  border-radius: 2px;
  @include transition(.3s);
  font-size: 1.5em;
  margin: 1em;

  &:focus {
    outline: none;
  }

}

.container {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: $teal;

  &:hover {
    color: $darkteal;
  }
}

ul {
  list-style: none;
  margin-left: 0;
}

li {
  list-style: none;
  font-size: 1.5em;
}

button {
  @include button($blue);

  &:hover {
    background-color: $darkblue;
  }
  &:active {
    background-color: $darkblue;
  }
  &:visited {
    background-color: $darkblue;
  }
}

p {
  font-size: 1.5em;
}

div {
  border-radius: 4px;
}

h1, h2, h3, h4, h5 {
  font-family: $fjalla;
}

/* GENERAL HEADER STYLE
----------------------- */

  header {
    margin-bottom: 2em;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    @include boxShadow();

    .innerheader {
      overflow: hidden;
      width: 98%;
      margin: auto;

      .logo {
        float: left;
        display: inline-block;
        overflow: hidden;
        margin: 0;

        img {
          height: 5em;
          margin: 0;
          float: left;
        }

        h2 {
          // font-family: $fjalla;
          // font-style: italic;
          font-size: 2.4em;
          transform: rotateZ(-16deg);
          padding: .2em .5em;
          color: $darkgrey;
          float: left;
        }
      }

      .rightheader {
        overflow: hidden;
        float: right;

        nav {
          display: inline-block;

          li {
            display: inline-block;
            font-family: $fjalla;
            padding: 1em;


            a {
              color: $darkgrey;
            }
          }
        }

        .nav-item {
          overflow: hidden;
          @include button(rgba(18, 81, 105, .8));
          border: none;
          display: inline-block;
          padding: 0;
          margin: .5em;
          float: right;
          height: 3.5em;

          &:hover {
            background-color: rgba(18, 81, 105, 1);
          }

          i {
            font-size: 1.6em;
            padding: .5em;
          }

          .user-avatar {
            float: left;
            height: 100%;
            overflow: hidden;
            display: inline-block;
            border-radius: 0;

            img {
              height: 100%;
            }
          }

          .user-name {
            display: inline-block;
            float: right;
            padding: .5em 1.5em;
            font-size: 1.4em;
            font-family: $fjalla;
          }
        }
      }
    }
  }


/* HOMEPAGE VIEW
---------------- */

.homepage-wrapper {
  overflow: hidden;

  .homepage-content {
    margin: 1em auto;
  }
}

/* DASHBOARD VIEW
----------------- */

.dashboard-page {
  @include outer-container(100%);

  header {
    @include fill-parent();
  }

  .dash-content {
    font-family: $tinos;
    @include outer-container(96%);
    margin: 0 auto;

    div {
      margin-bottom: 2em;
    }

    h4 {
      color: $background;
      // font-family: $fjalla;
    }

    i {
      margin-right: .5em;
      font-size: 1.5em;
    }

    .top-dash-progress {
      padding: 2em;
      overflow: hidden;
      @include fill-parent;
      background-color: #fff;
      @include boxShadow();

      p {
        font-size: 1.8em;
        padding: .5em;
      }

      .fa {
        display: inline-block;
        float: left;
        font-size: 2.5em;
        color: $grey;
        @include transition(.3s);
      }

      .fa-minus-square {
        &:hover {
          color: $red;
        }
      }

      .fa-plus-square {
        &:hover {
          color: $green;
        }
      }

      .hide {
        display: none;
      }

      h4 {
        text-align: center;
        color: $darkgrey;
      }
    }

    .left-dash {
      @include span-columns(4);
      overflow: hidden;
      float: left;
      padding: 0;

      .team-list {
        padding: 2em;
        background-color: $blue;

        .fa {
          @include transition(.3s);
          cursor: pointer;
          color: $background;
          font-size: 3em;
        }

        .fa-plus-circle {
          &:hover {
            color: $green;
          }
        }

        .fa-minus-circle {
          &:hover {
            color: $red;
          }
        }

        h4 {
          display: inline-block;
        }

        ul {
          text-align: left;
          padding: 0;
          margin: 0;
        }

        a {
          color: $background;

          li {
            padding: 0;
            font-size: 1.2em;
            margin-bottom: .5em;
          }

          img {
            height: 3em;
            border-radius: 50%;
          }
        }
      }

      .calendar {
        overflow: hidden;
        position: relative;
        // background-color: $darkgrey;
        img {
          width: 100%;
        }

        .overlay {
          overflow: hidden;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(66, 66, 66, .9);
          @include transition(.3s);
          cursor: pointer;

          &:hover {
            background-color: rgba(66, 66, 66, .7);
          }

          h4 {
            text-align: center;
            // font-size: 0;
            padding-top: 20%;
          }
        }
      }

      .training-plans {
        padding: 2em;
        background-color: $green;
      }

      .create-plan {
        padding: 2em;
        background-color: $darkpurple;
      }

      .workouts {
        padding: 2em;
        background-color: $grey;
      }

      .create-workout {
        padding: 2em;
        background-color: $teal;
      }
    }

      .upcoming {
        padding: 2em;
        @include span-columns(8);
        background-color: $red;

        h4 {
          display: inline-block;
          float: left;
        }

        a {
          color: $background;

          p {
            @include border($background);
            padding: .5em;
            display: inline-block;
            float: right;

            &:hover {
              background-color: $background;
              color: $red;
            }
          }
        }

        h5 {
          color: $darkgrey;
          font-family: $tinos;
        }
      }
  }
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0px;
  width: 70em;
  background-color: $background;
  border: 7px solid $blue;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background-color: $blue;
  top: 3px;
  right: 3px;
  border-radius: 0;
  color: $background;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before {
  color: #FEFFFF;
  background-color: #FF534E;
}

/* TEAM PAGE
------------ */

.team-page {
  background-color: $darkgrey;
  // background: url(https://scontent-atl1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11016837_10153505519810166_8252283888886455957_n.jpg?oh=dbeea0799f2951798dadf1629008de62&oe=5624081B) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
  overflow: hidden;

  h3 {
    @include fill-parent;
    color: $background;
    text-align: center;
    // font-family: $fjalla;
    font-size: 4em;
  }

  .team-page-content {
    // background: url(https://scontent-atl1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11016837_10153505519810166_8252283888886455957_n.jpg?oh=dbeea0799f2951798dadf1629008de62&oe=5624081B) no-repeat center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // overflow: hidden;
    // position: relative;
    // width: 100%;
    // height: 100vh;
    // overflow: hidden;
    @include outer-container(100%);

    .team-content-sections {
      overflow: hidden;
      @include fill-parent;


      .team-left-content {
        overflow: hidden;
        background-color: rgba(190, 209, 148, .8);
        // background-color: rgba(66, 66, 66, .6);
        @include span-columns(4.5);
        margin: 2em;

        ul {
          padding: 1em;

          p {
            font-family: $fjalla;
          }
          li {
            padding-left: 1em;
            font-size: 1.5em;
          }
        }

        p {
          text-align: center;
          margin: 0;

          a {
            font-size: 1.2em;
            text-align: center;
            @include button($blue);
            color: $background;

            &:hover {
              color: $background;
              background-color: $blue;
            }
          }
        }

        h5 {
          // font-family: $fjalla;
          font-size: 3em;
          color: $darkgrey;
          background-color: rgba(254, 255, 255, .8);
          padding: .5em;
          margin: 0;
          @include boxShadow();
        }
      }

      .team-right-content {
        overflow: hidden;
        @include span-columns(7);
        background-color: rgba(254, 255, 255, .8);
        padding: 1em;
        margin: 2em;
      }

    }

  }
}

.sub-nav {
  padding: 0;
  margin-top: 1em;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;

  .active {
    background-color: $blue;
    padding: .5em;
    color: $background;
  }

  dt {
    padding: .5em;
    font-family: $fjalla;
  }

  dd {
    font-family: $fjalla;
    padding: .5em;
    cursor: pointer;
    a {
      padding: 0;
    }
  }

  dd:hover {
    background-color: $grey;
    color: $background;
    a {
      color: $background;
      padding: 0;
    }
  }

  dd.active {
    a {
      background-color: $blue;
      color: $background;
      padding: 0;
    }
  }
}


/* ADD WORKOUT FORM
-------------------- */

.addworkout-form {
  overflow: hidden;
  padding: 1em;
  // width: 100%;
  margin: auto;

  .check {
    label {

    }
  }

  .addStep {
    color: $grey;
    font-size: 1.5em;
    cursor: pointer;

    &:hover {
      color: $darkgrey;
      i {
        color: $darkgrey
      }
    }

    i {
      font-size: 1em;
      color: $grey;
      margin-right: .5em;
    }
  }
}


/* TRAINING PLANS PAGE
---------------------- */

.train-content {
  width: 90%;
  margin: auto;
  @include outer-container(100%);

  .addWorkBtn {
    position: relative;
    @include span-columns(6);

    img {
      height: 20em;
    }

    .overlay {
      @include overlay(rgba(66, 66, 66, .5));
    }
  }

  .addTrainingBtn {
    position: relative;
    @include span-columns(6);
    @include omega();

    img {
      height: 20em;
    }

    .overlay {
      @include overlay(rgba(66, 66, 66, .5));
    }
  }

  .create-new-button {
    cursor: pointer;
    // padding: 2em;
    // background-color: $blue;

    h4 {
      color: $background;

      i {
        margin-right: .5em;
      }
    }
  }
}

ul {
  clear: both;
  padding-top: 2em;
  overflow: hidden;

  .allplans {
    @include fill-parent;
    overflow: hidden;
    clear: both;
    @include border(#EDEEEE);
    padding: 1em;
    // margin: 1em;
    background-color: white;

    .check {
      display: inline-block;

      p {
        display: inline-block;
        margin-right: 1em;
        font-size: 1em;
      }
    }

    .fa {
      float: left;
      padding: 0 10px 0 0;
      font-size: 1em;
      color: $darkgrey;
      @include transition(.3s);
      &:hover {
        color: $green;
      }
    }

    .fa-minus-square:hover {
      color: $red;
    }

    .hide {
      display: none;
    }

    .top {

      h4 {
        color: $darkgrey;
        font-family: $tinos;
        display: inline-block;
        float: left;
        margin: 0;
      }

      .top-bottom {
        overflow: hidden;
        @include fill-parent();
        margin: .5em 0;

        .progress-bar-indication {
          p {
            font-size: .8em;
            padding: .5em;
          }
        }
      }

      .top-right {
        overflow: hidden;

        .dates {
          display: inline-block;
          float: right;
          font-size: .8em;
          font-family: $fjalla;
          margin: 0;
        }
      }
    }

    .bottom {
      @include outer-container(100%);
    }

    .left-info {
      @include span-columns(3);
      overflow: hidden;
      clear: both;

      .plan-name {
        display: inline-block;
      }

      .plan-image {
        width: 12em;
        height: 12em;
        overflow: hidden;
        margin: 10px;
        position: relative;

        img {
          position: absolute;
          left: -100%;
          right: -100%;
          top: -100%;
          bottom: -100%;
          margin: auto;
          height: auto;
          width: auto;
        }
      }
    }

    .right-info {
      @include span-columns(9);
      display: inline-block;
      float: left;
      overflow: hidden;

      p {
        font-size: .6em;
      }
    }
  }
}

/* CREATE TRAINING PLAN PAGE
--------------------- */

.blue {
  background-color: $blue;
}

.plan-training-page {
  overflow: hidden;
  // @include outer-container(100%);

  .workout-library {
    @include span-columns(5);
    background-color: #fff;
    padding: 2em;
    @include boxShadow();

    .workout-library-ul {
      @include outer-container();
      overflow: hidden;

      li.block {
        @include span-columns(6);
        @include omega(2n);
        @include border($grey);
        @include boxShadow();
        overflow: hidden;
        // padding: .5em;
        // height: 10em;

        .workout-descrip {
          // padding: 0 .5em;
        }

        p {
          font-size: .5em;
          display: inline-block;
          margin: 0;
          padding: 0 .5em;
        }

        .workout-title {
          overflow: hidden;
          background-color: $teal;
          border-radius: 0;

          h4 {
            font-size: .7em;
            margin: 0;
            padding: .5em;
            color: $background;
          }
        }

        .icon {
          overflow: hidden;
          height: 2em;
          display: inline-block;
          float: right;
          padding: 0 .5em;

          img {
            height: 1em;

          }
        }
      }
    }

  }

  .create-plan {
    @include span-columns(7);
    background-color: #fff;
    padding: 2em;
    @include boxShadow();
  }


}

/* ----------------------- */
/* BOURBON REFILLS STYLING */
/* ----------------------- */

/* CENTER NAV ON TEAM PAGE
-------------------------- */

.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #fff;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  border-bottom: 1px solid darken($grey, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;
  font-family: $fjalla;
  font-size: 1.5em;

// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

// The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;
    font-size: 1.2em;

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .team-logo img {
    margin: .5em;
    max-height: $centered-navigation-logo-height;
    opacity: 1;
  }
}

/* PRORGRESS BAR STYLE
---------------------- */

.progress-bar-indication {
  $base-border-color: $green !default;
  $base-border-radius: 4px !default;
  $base-background-color: white !default;
  $base-line-height: 1.2em !default;
  $action-color: $green !default;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;

  background-color: $progress-background;
  border-radius: $base-border-radius;
  margin: 0 auto;
  width: 100%;

  > span.meter {
    @include box-sizing(border-box);
    background-color: $blue;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border-bottom-right-radius: 0;
    border-radius: $base-border-radius /1.5;
    border-top-right-radius: 0;
    display: block;
    height: 100%;
    width: 60%;
  }

  p {
    font-family: $fjalla;
    color: $background;
    line-height: $base-line-height;
    margin: 0;
    padding: .1em .5em;
  }
}
